*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*.center{
    background-image: url(8b43c3d6-d45c-4832-80cc-919c2a05ed85.jpg);
    width: 980px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding:0 2%;
}*/

.header{
    position: fixed;
    width: 100%;
    padding: 7px 30px 7px 30px;
    background-color: #DFCAE1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.nav{
    font-size: 20px;
    color: black;
    margin-left: 20px;
    
}

.logo{

    width: 100%;
    background-image: url(8b43c3d6-d45c-4832-80cc-919c2a05ed85.jpg);
    
    

}

.logo a{
    color: black;
    background-color: rgb(247, 247, 104);
    font-weight: bold;
    border-radius: 0.50rem;
    text-decoration: none;
    position: relative;
    top: -60px; left: 700px;
    padding: 1rem 4rem;
    border: 1px solid white; 
    transition: .5s ease-in-out;

    

}

a:hover{
    background-color: white;


}

.img{
    width: 150px;
    
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: ;
    padding: 0;
    margin: 0;
    
    
    
}

.form{
    
    text-align: center;
    margin: 0 auto;    
    width: 50%;
    height: 50%;
    columns: auto;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-style: ;
    
}

input{
    padding: 7px 150px;
    
}

.nasc{
    padding: 7px 20px;
}

.Container-btn form{
    width: 380px;
    max-width: 100%;
    position: relative;
}

.Container-btn form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    border-radius: 30px;
    outline: none;
}

.Container-btn form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: #fff;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    right: 6px;
    top: 6px;
    
}
